In [1]:
import pandas as pd

from sodapy import Socrata

In [2]:
client = Socrata("data.cityofnewyork.us", "w5ANkINfDguTjEbedyzkLA1HW")

results = client.get("5uac-w243", limit=2000)

crime_df = pd.DataFrame.from_records(results)
crime_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,cmplnt_num,addr_pct_cd,boro_nm,cmplnt_fr_dt,cmplnt_fr_tm,crm_atpt_cptd_cd,jurisdiction_code,juris_desc,ky_cd,law_cat_cd,...,cmplnt_to_dt,cmplnt_to_tm,susp_age_group,susp_race,susp_sex,hadevelopt,housing_psa,station_name,transit_district,parks_nm
0,797931560,33,MANHATTAN,2020-09-16T00:00:00.000,00:30:00,COMPLETED,0.0,N.Y. POLICE DEPT,112,FELONY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,664557183,32,MANHATTAN,2020-06-24T00:00:00.000,21:20:00,COMPLETED,0.0,N.Y. POLICE DEPT,344,MISDEMEANOR,...,2020-06-24T00:00:00.000,21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,453437883,47,BRONX,2020-09-28T00:00:00.000,20:00:00,COMPLETED,0.0,N.Y. POLICE DEPT,105,FELONY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,949043828,43,BRONX,2020-07-26T00:00:00.000,01:08:00,COMPLETED,0.0,N.Y. POLICE DEPT,126,FELONY,...,NaN,NaN,18-24,WHITE,F,NaN,NaN,NaN,NaN,NaN
4,604509546,14,MANHATTAN,2020-09-26T00:00:00.000,19:30:00,COMPLETED,0.0,N.Y. POLICE DEPT,341,MISDEMEANOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
crime_df_filtered = crime_df[["rpt_dt", "addr_pct_cd", "ofns_desc", "loc_of_occur_desc", "prem_typ_desc", "lat_lon"]].copy()

In [6]:
crime_df_filtered

,rpt_dt,addr_pct_cd,ofns_desc,loc_of_occur_desc,prem_typ_desc,lat_lon
0,2020-09-30T00:00:00.000,33,THEFT-FRAUD,INSIDE,RESIDENCE - APT. HOUSE,"{'latitude': '40.83730401400004', 'longitude':..."
1,2020-06-24T00:00:00.000,32,ASSAULT 3 & RELATED OFFENSES,NaN,STREET,"{'latitude': '40.82413968200007', 'longitude':..."
2,2020-09-29T00:00:00.000,47,ROBBERY,INSIDE,OTHER,"{'latitude': '40.88144124600007', 'longitude':..."
3,2020-09-28T00:00:00.000,43,MISCELLANEOUS PENAL LAW,INSIDE,RESIDENCE-HOUSE,"{'latitude': '40.83527732600004', 'longitude':..."
4,2020-09-27T00:00:00.000,14,PETIT LARCENY,NaN,STREET,"{'latitude': '40.75469651000003', 'longitude':..."
...,...,...,...,...,...,...
1995,2020-09-22T00:00:00.000,34,ROBBERY,INSIDE,RESIDENCE - APT. HOUSE,"{'latitude': '40.84950489800008', 'longitude':..."
1996,2020-09-27T00:00:00.000,60,PETIT LARCENY,FRONT OF,STREET,"{'latitude': '40.576955772000076', 'longitude'..."
1997,2020-09-28T00:00:00.000,1,OFF. AGNST PUB ORD SENSBLTY &,INSIDE,RESIDENCE - APT. HOUSE,"{'latitude': '40.709490247000076', 'longitude'..."
1998,2020-09-29T00:00:00.000,19,PETIT LARCENY,INSIDE,CHAIN STORE,"{'latitude': '40.76781470600001', 'longitude':..."
1999,2020-09-29T00:00:00.000,19,GRAND LARCENY,INSIDE,RESIDENCE - APT. HOUSE,"{'latitude': '40.77543410700008', 'longitude':..."

In [8]:
crime_df_filtered["rpt_dt"] = crime_df_filtered["rpt_dt"].str.split("T")[0]

ValueError: Length of values does not match length of index