In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv("nyc_weather_5_years.csv")
weather_df

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TAVG
0,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2015-01-01,0.00,0.0,0.0,33
1,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2015-01-02,0.00,0.0,0.0,39
2,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2015-01-03,0.94,0.0,0.0,36
3,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2015-01-04,0.47,0.0,0.0,47
4,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2015-01-05,0.00,0.0,0.0,43
...,...,...,...,...,...,...,...
2184,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2020-12-24,0.12,0.0,0.0,49
2185,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2020-12-25,0.59,0.0,0.0,53
2186,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2020-12-26,0.00,0.0,0.0,29
2187,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2020-12-27,0.00,NaN,NaN,29
2188,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",2020-12-28,NaN,NaN,NaN,34

In [3]:
weather_df["NAME"].unique()

array(['JFK INTERNATIONAL AIRPORT, NY US'], dtype=object)