# Combining API call results

* Grabbing the two CSVs because made two different calls.
* Filtering down the data to the top 25% restaurants open.

In [36]:
import pandas as pd

In [37]:
csv_path = 'surrounding_nyc_yelp_dataset_nyc.csv'
df = pd.read_csv(csv_path, encoding='utf-8')

In [47]:
csv_path2 = 'manhattan_df.csv'
df2 = pd.read_csv(csv_path2, encoding='utf-8')

In [48]:
len(df2)

860

In [50]:
out = df.append(df2)

In [51]:
len(out)

2122

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1262 non-null   object
 1   alias             1262 non-null   object
 2   name              1262 non-null   object
 3   image_url         1260 non-null   object
 4   is_closed         1262 non-null   bool
 5   url               1262 non-null   object
 6   review_count      1262 non-null   int64
 7   categories        1262 non-null   object
 8   rating            1262 non-null   float64
 9   coordinates       1262 non-null   object
 10  transactions      1262 non-null   object
 11  price             1082 non-null   object
 12  location          1234 non-null   object
 13  phone             1207 non-null   object
 14  display_phone     1235 non-null   object
 15  distance          1094 non-null   object
 16  latitude          1262 non-null   float64
 17  longitude         1262 non-null   float64
 18  categories_list   1262 non-null   object
 19  coordinates_list  1262 non-null   object
dtypes: bool(1), float64(3), int64(1), object(15)
memory usage: 188.7+ KB

In [52]:
out.describe()

       review_count       rating     latitude    longitude
count   2122.000000  2122.000000  2122.000000  2122.000000
mean     322.562677     4.210179    40.734451   -73.934721
std      622.140033     0.456634     0.078207     0.089385
min        1.000000     1.500000    40.484090   -74.280340
25%       42.000000     4.000000    40.686070   -73.987523
50%      125.000000     4.000000    40.742528   -73.948441
75%      307.000000     4.500000    40.781226   -73.894899
max    10008.000000     5.000000    40.959701   -73.647551

In [53]:
newdf = out.loc[out['rating'] >= 4.5, :]

In [29]:
newdf

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance,latitude,longitude,categories_list,coordinates_list
0,b6jOwyX4iaagw8YjXqq1sA,antonios-trattoria-bronx,Antonio's Trattoria,https://s3-media3.fl.yelpcdn.com/bphoto/VnG_ke...,False,https://www.yelp.com/biz/antonios-trattoria-br...,819,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.854131, 'longitude': -73.886601}","['pickup', 'delivery']",$$,"{'address1': '2370 Belmont Ave', 'address2': N...",+17187336630,(718) 733-6630,2321.0568823979,40.854131,-73.886601,"['Italian', 'Pizza', 'Desserts']","[40.854131, -73.886601]"
3,brE98UK0rJf7cZE3aPrI4A,bronx-bites-new-york,Bronx Bites,https://s3-media3.fl.yelpcdn.com/bphoto/9Q2_3T...,False,https://www.yelp.com/biz/bronx-bites-new-york?...,2,"[{'alias': 'dominican', 'title': 'Dominican'}]",4.5,"{'latitude': 40.86002, 'longitude': -73.90018}","['pickup', 'delivery']",NaN,"{'address1': '113 E 184th St', 'address2': Non...",+19175699236,(917) 569-9236,1421.5160600093673,40.860020,-73.900180,['Dominican'],"[40.86002, -73.90018]"
11,zQjaTAxYSKpNNj0F4kgjXQ,chicken-ranch-new-york,Chicken Ranch,https://s3-media2.fl.yelpcdn.com/bphoto/2Skyuw...,False,https://www.yelp.com/biz/chicken-ranch-new-yor...,92,"[{'alias': 'spanish', 'title': 'Spanish'}, {'a...",4.5,"{'latitude': 40.84839, 'longitude': -73.9324}","['pickup', 'delivery']",$$,"{'address1': '315 Audubon Ave', 'address2': No...",+16469228564,(646) 922-8564,1603.732016747648,40.848390,-73.932400,"['Spanish', 'Greek', 'Chicken Shop']","[40.84839, -73.9324]"
12,NNvdMOswZuJ0UUtpP1ievw,casa-della-mozzarella-italian-deli-bronx,Casa Della Mozzarella Italian Deli,https://s3-media2.fl.yelpcdn.com/bphoto/c0t2EM...,False,https://www.yelp.com/biz/casa-della-mozzarella...,181,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",5.0,"{'latitude': 40.85533, 'longitude': -73.88742}",[],$$,"{'address1': '604 E 187th St', 'address2': '',...",+17183643867,(718) 364-3867,2265.944273349455,40.855330,-73.887420,"['Delis', 'Cheese Shops']","[40.85533, -73.88742]"
13,59hEst-eXa_psEtiZMLU6A,joes-italian-deli-bronx-3,Joe's Italian Deli,https://s3-media4.fl.yelpcdn.com/bphoto/Ko7VMN...,False,https://www.yelp.com/biz/joes-italian-deli-bro...,131,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",5.0,"{'latitude': 40.8544073, 'longitude': -73.8848...",['pickup'],$$,"{'address1': '685 E 187th St', 'address2': Non...",+17183677979,(718) 367-7979,2465.3145066220304,40.854407,-73.884875,"['Delis', 'Cheese Shops']","[40.8544073, -73.8848751]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,7YJxZAvMxB-oVZfHAuvBmw,lakruwana-restaurant-staten-island-2,Lakruwana Restaurant,https://s3-media4.fl.yelpcdn.com/bphoto/kuerfR...,False,https://www.yelp.com/biz/lakruwana-restaurant-...,328,"[{'alias': 'srilankan', 'title': 'Sri Lankan'}]",4.5,"{'latitude': 40.62571, 'longitude': -74.075373}","['pickup', 'delivery']",$$,"{'address1': '668 Bay St', 'address2': '', 'ad...",+13478576619,(347) 857-6619,1624.7958320156883,40.625710,-74.075373,['Sri Lankan'],"[40.62571, -74.075373]"
1247,LV_DKhthhOYbZF-nHvzEyQ,panaderia-la-mixteca-poblana-staten-island-2,Panaderia La Mixteca Poblana,https://s3-media4.fl.yelpcdn.com/bphoto/sx8Az_...,False,https://www.yelp.com/biz/panaderia-la-mixteca-...,15,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.5,"{'latitude': 40.637596973899, 'longitude': -74...","['pickup', 'delivery']",$,"{'address1': '104 Victory Blvd', 'address2': '...",+17187201221,(718) 720-1221,1920.662564276917,40.637597,-74.079914,"['Mexican', 'Delis']","[40.637596973899, -74.0799138202344]"
1248,YOOZjCcC4s1MOBtFsaMB8w,the-richmond-staten-island,The Richmond,https://s3-media3.fl.yelpcdn.com/bphoto/1Y28xP...,False,https://www.yelp.com/biz/the-richmond-staten-i...,130,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 40.62508, 'longitude': -74.07463}","['pickup', 'delivery']",NaN,"{'address1': '695 Bay St', 'address2': None, '...",+17184898805,(718) 489-8805,1685.070244284972,40.625080,-74.074630,['American (New)'],"[40.62508, -74.07463]"
1252,AICctWjO4hFXfVQpJukEyw,tri-lounge-and-cafe-staten-island,TRI Lounge & Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/_LXPe9...,False,https://www.yelp.com/biz/tri-lounge-and-cafe-s...,24,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...",4.5,"{'latitude': 40.60602, 'longitude': -74.08681}","['delivery', 'pickup']",NaN,"{'address1': '1938 Clove Rd', 'address2': None...",+17184425800,(718) 442-5800,770.9784989654462,40.606020,-74.086810,"['Vegan', 'Comfort Food', 'Lounges']","[40.60602, -74.08681]"
1260,22QsJuEb7zBqy6J8xDe8gw,la-brujeria-jersey-city,La Brujeria,https://s3-media1.fl.yelpcdn.com/bphoto/dzAlup...,False,https://www.yelp.com/biz/la-brujeria-jersey-ci...,9,"[{'alias': 'mexican', 'title': 'Mexican'}]",5.0,"{'latitude': 40.71726, 'longitude': -74.06142}","['pickup', 'delivery']",NaN,"{'address1': '590 Grand St', 'address2': None,...",+12012676760,(201) 267-6760,15857.134045255074,40.717260,-74.061420,['Mexican'],"[40.71726, -74.06142]"

In [15]:
len(newdf)

579

In [55]:
newdf = newdf.loc[newdf['review_count'] > 307, :]

In [56]:
len(newdf)

169

In [57]:
newdf.to_csv('parsed_nyc_yelp_dataset_4_stars_75_percentile.csv', index=False, header=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                257 non-null    object
 1   alias             257 non-null    object
 2   name              257 non-null    object
 3   image_url         257 non-null    object
 4   is_closed         257 non-null    bool
 5   url               257 non-null    object
 6   review_count      257 non-null    int64
 7   categories        257 non-null    object
 8   rating            257 non-null    float64
 9   coordinates       257 non-null    object
 10  transactions      257 non-null    object
 11  price             228 non-null    object
 12  location          256 non-null    object
 13  phone             247 non-null    object
 14  display_phone     248 non-null    object
 15  distance          243 non-null    object
 16  latitude          257 non-null    float64
 17  longitude         257 non-null    float64
 18  categories_list   257 non-null    object
 19  coordinates_list  257 non-null    object
dtypes: bool(1), float64(3), int64(1), object(15)
memory usage: 38.5+ KB